---

# Disk configuration
mysql_disk: /dev/sdb
mysql_partition: /dev/sdb1

# Volume group and logical volumes
mysql_vg_name: datavg
mysql_data_lv: mysqldata
mysql_archive_lv: mysqlarchive
mysql_backup_lv: mysqlbackup

# Logical volume sizes
# The sizes are calculated and set in the config phase task of mysql 'Task Name: config_phase_mysql'
mysql_data_size: "{{ morpheus['customOptions']['mysqlData'] }}"
mysql_archive_size: "{{ (morpheus['customOptions']['mysqlData'] | int * 0.5) | int }}" # Should be 50% of data.
mysql_backup_size: "{{ morpheus['customOptions']['mysqlData'] }}" # Backup should be same as data.

# Directory paths
mysql_data_dir: /u101/mysql/data
mysql_archive_dir: /u102/mysql/archive
mysql_backup_dir: /u103/mysql/backup

# MySQL version (gets value from Morpheus custom options)
mysql_version: "{{ morpheus['customOptions']['mysqlVersion'] | default(8.0.43) }}"

# Filesystem type
mysql_fs_type: xfs

# User and group for MySQL
mysql_user: mysql
mysql_group: mysql

# MySQL configuration
mysql_new_password: "{{ lookup('cypher','secret=secret/mysqlpass') }}"

# MySQL Backup user
mysql_backup_user: "azbackup"
mysql_backup_user_password: "{{ lookup('cypher','secret=secret/mysqlbackupuserpass') }}"

# MySQL database and user creation
mysql_user_db: "{{morpheus['customOptions']['mysqlUserDb']}}"
mysql_user_name: "{{morpheus['customOptions']['mysqlUserName']}}"
mysql_user_password: "{{morpheus['customOptions']['mysqlUserPassword']}}"

# Proxy
proxy_env:
  http_proxy: http://azpzen.astrazeneca.net:9480
  https_proxy: http://azpzen.astrazeneca.net:9480
  no_proxy: 127.0.0.1,localhost,157.96.177.181,astrazeneca.net
  HTTP_PROXY: http://azpzen.astrazeneca.net:9480
  HTTPS_PROXY: http://azpzen.astrazeneca.net:9480
  NO_PROXY: 127.0.0.1,localhost,157.96.177.181,astrazeneca.net

mysql_req_packages:
  - net-tools
  - openssl-devel
  - perl-JSON
  - perl-core