---
- name: Include vars for MySQL 8.0.43
  include_vars: "../vars/8.0.43.yml"
  when: mysql_version == "8.0.43"

- name: Include vars for MySQL 8.4.3
  include_vars: "../vars/8.4.3.yml"
  when: mysql_version == "8.4.3"
  
- name: Include disk setup tasks
  include_tasks: disk_setup.yml

- name: Include LVM creation tasks
  include_tasks: lvm_setup.yml

- name: Include directory creation tasks
  include_tasks: directory_setup.yml

- name: Include mounting tasks
  include_tasks: mount_setup.yml

- name: Include RPM download tasks
  include_tasks: rpm_download.yml

- name: Include MySQL installation tasks
  include_tasks: mysql_install.yml

- name: Include Mysql set directory ownership
  include_tasks: mysql_set_ownership.yml

- name: Include MySQL configuration tasks
  include_tasks: mysql_config.yml

- name: Include MySQL database and user creation tasks
  include_tasks: mysql_database_user_creation.yml