---
- name: Create log directory
  file:
    path: /u101/mysql/data/log
    state: directory
    owner: mysql
    group: mysql
    mode: '0755'

- name: Create archive log bin directory
  file:
    path: /u102/mysql/archive/binlog
    state: directory
    owner: mysql
    group: mysql
    mode: '0755'
    
- name: Copy MySQL configuration file
  copy:
    src: my.cnf
    dest: /etc/my.cnf
    owner: root
    group: root
    mode: '0644'

- name: Start MySQL service
  ansible.builtin.service:
    name: mysqld
    state: started
    enabled: true

- name: Install Python3-PyMSQL 
  ansible.builtin.package:
    name: python3-PyMySQL
    state: present

- name: Check if new password already works
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_new_password }}"
    query: "SELECT 1"
  register: mysql_new_pwd_test
  failed_when: false
  #no_log: true
  changed_when: false

- name: Debug result of new password check
  debug:
    var: mysql_new_pwd_test

- name: Extract temporary password from MySQL log
  shell: grep 'temporary password' /u101/mysql/data/log/mysqld.log | awk '{print $NF}' | tr -d '\n\r'
  register: mysql_temp_password
  changed_when: false
  when: "'Access denied' in mysql_new_pwd_test.msg"

- name: Wait for MySQL socket to be ready
  wait_for:
    path: /var/lib/mysql/mysql.sock
    state: present
    timeout: 30

- name: Check if /root/.my.cnf exists
  stat:
    path: /root/.my.cnf
  register: my_cnf_file

- name: Update MySQL root Password
  shell: |
    mysql -u root -p"{{ mysql_temp_password.stdout }}" --connect-expired-password -e "ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql_new_password }}';"
  when: my_cnf_file.stat.exists == False

- name: Create the MySQL (/root/.my.cnf) config file
  copy:
    dest: /root/.my.cnf
    content: |
      [client]
      user=root
      password={{ mysql_new_password }}
  when: ansible_facts['distribution'] in ['RedHat', 'CentOS', 'AlmaLinux', 'Rocky']
    
#- name: Reset MySQL root password with temporary password
#  shell: |
#    mysql -u root -p'{{ mysql_temp_password.stdout }}' --connect-expired-password -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{{ mysql_new_password }}'; FLUSH PRIVILEGES;"
#  when:
#    - "'Access denied' in mysql_new_pwd_test.msg"
#    - mysql_temp_password.stdout is defined and mysql_temp_password.stdout | length > 0
#  no_log: true
  #notify: "Confirm password reset"

- name: Flush privileges
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ mysql_new_password }}"
    query: "FLUSH PRIVILEGES;"
  when: "'Access denied' in mysql_new_pwd_test.msg"

- name: Confirm password reset success
  debug:
    msg: "MySQL root password successfully reset"
  when: "'Access denied' in mysql_new_pwd_test.msg"

- name: Set MySQL user shell to /bin/bash
  user:
    name: mysql
    shell: /bin/bash