[mysqld]
basedir=/usr/bin/mysql
datadir=/u101/mysql/data/database
#socket=/u101/mysql/data/mysql.sock
log-error=/u101/mysql/data/log/mysqld.log
pid-file=/u101/mysql/data/mysqld.pid

# Binary log settings
server-id=1
log-bin=/u102/mysql/archive/binlog/mysql-bin
max_binlog_size=50M
sync_binlog=1        # ensures binlog is synced to disk (safer, slower)

# Performance / general configs
user=mysql
bind-address=0.0.0.0
default_storage_engine=innodb
max_connections=300
innodb_log_file_size=512M
innodb_buffer_pool_size=8GB
max_connect_errors=5000

# Auth note
#default-authentication-plugin=mysql_native_password
# (Keep caching_sha2_password unless your app requires mysql_native_password)

[mysql.server]
datadir=/u101/mysql/data/database
basedir=/usr/bin/mysql