[mysqld]
basedir=/usr
datadir=/u101/mysql/data/datafile
log-error=/u101/mysql/data/log/mysqld.log
pid-file=/u101/mysql/data/datafile/mysqld.pid
log-bin=/u102/mysql/archive/logbin/mysql-bin.log
max_binlog_size=50M
user=mysql
bind-address = 0.0.0.0
innodb_file_per_table=1
default_storage_engine=innodb
max_connections = 300
innodb_log_file_size=512M
innodb_buffer_pool_size =  8GB
sync_binlog = 1
default-authentication-plugin=mysql_native_password

[mysql.server]
datadir=/u101/mysql/data/datafile
basedir=/usr/bin/mysql/